<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176986571063-0qpksr42egn0em94stlgl6b1o7s7terl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176986571063-0qpksr42egn0em94stlgl6b1o7s7terl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>176986571063-44ri4jdtjctbk2frisinkkf8irjf3rum.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAsKTAl0ANkImTI2KRj3uhgaEV80AmmEUg</string>
	<key>GCM_SENDER_ID</key>
	<string>176986571063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.maskkn</string>
	<key>PROJECT_ID</key>
	<string>msknapp</string>
	<key>STORAGE_BUCKET</key>
	<string>msknapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176986571063:ios:129ec1dbe41199606e9ab2</string>
</dict>
</plist>